@charset "UTF-8";

*{
  box-sizing: border-box;
}

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
  /* Tipografias */
  --fonte-titulo: 'Montserrat', sans-serif;
  --fonte-normal: 'Roboto', sans-serif;

  /* Paleta de cores */
  --cor-azul-petroleo: #111827;
  --cor-verde-esmeralda: #3bb273;
  --cor-amarelo-suave: #f1c40f;
  --cor-cinza-claro: #f4f4f4;
  --cor-branco: #ffffff;
}

header{
  display: flex;
  justify-content: space-around;
}

.containerDna{
  display: flex;
  align-items: center;
}

.containerDna > img{
  width: 40px;
}

.containerDna > p{
  font-family: var(--fonte-titulo);
  font-weight: bold;
}

.containerTimer > img{
  width: 30px;
}

/*--- Main ---*/

.iconCerebro{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #E5E7EB;
  width: 60px;
  height: 60px;
  margin: 60px auto 30px;
  border-radius: 50%;
}

main{
  flex: 1;
}

main > div > img{
  width: 50px;
}

.titulo_subtitulo > h1{
  text-align: center;
  font-family: var(--fonte-titulo);
  font-weight: lighter;
}

.titulo_subtitulo > p{
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--fonte-normal);
  text-align: center;
}

.containerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  display: block;
  width: 320px;
  height: 40px;
  border-radius: 16px;
  background-color: var(--cor-azul-petroleo);
  color: white;
  font-family: var(--fonte-normal);
  font-weight: bolder;
  
  border: none;
  margin: 15px auto 20px;
}